<?php
	$connect = mysqli_connect("localhost", "root", "", "hairluks");
?>
<html>
	<head>
		<title>
			Hairluks stylist user registeration Page
		</title>
		<!-- CSS -->
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../font-awesome/css/font-awesome-animation.min.css">
        <link rel="stylesheet" href="../css/main.css">

        <!-- JS -->
        <script src="../js/jquery.min.js"></script>
        <script src="../bootstrap/js/bootstrap.min.js"></script>
        <script src="../js/main.js"></script>
		<script src="../js/stylist.js"></script>
		<script src="../js/verify.notify.min.js"></script>
	
	</head>
	
	<body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?=base_url()?>">Logo</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left visible-xs">
                        <li >
                            <a href="">
                                <i class="fa fa-home"></i>
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-users"></i>
                                Users
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-users"></i>
                                Sytlist
                            </a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

                <br>
	<div class="container box" style='margin-top=10px'>
		<form method="post" action="stylist.php">
			<div class="row">
			
					<div class="row">
                        <div class="col-sm-12">
                            <label>profile picture:</label>
                            <input type="file" name='picture' id='picture' class="form-control">
                        </div>
                    </div>
					
                        <div class="form-group-sm col-sm-4">
                            <label for='username' class="control-label">Username</label>
                            <input type="text" name='username' id='username' class="form-control checkField" placeholder="Username" data-validate="required,number">
                            <span class="help-block errMsg" id="usernameErr"></span>
                        </div>
                        <div class="form-group-sm col-sm-4">
                            <label for='firstName' class="control-label">First Name</label>
                            <input type="text" name='firstName' id='firstName' class="form-control checkField" placeholder="First Name">
                            <span class="help-block errMsg" id="firstNameErr"></span>
                        </div>
                        <div class="form-group-sm col-sm-4">
                            <label for='lastName' class="control-label">Last Name</label>
                            <input type="text" name='lastName' id='lastName' class="form-control checkField" placeholder="Last Name">
                            <span class="help-block errMsg" id="lastNameErr"></span>
                        </div>
                    </div>
					
					<div class="row">
                        <div class="form-group-sm col-sm-4">
                            <label for='password' class="control-label">Password</label>
                            <input type="password" name='password' id='password' class="form-control checkField" placeholder="Password">
                            <span class="help-block errMsg" id="passwordErr"></span>
                        </div>
                        <div class="form-group-sm col-sm-4">
                            <label for='passwordConf' class="control-label">Confirm Password</label>
                            <input type="password" name='passwordConf' id='passwordConf' class="form-control checkField" placeholder="Password">
                            <span class="help-block errMsg" id="passwordConfErr"></span>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group-sm col-sm-4">
                            <label for='email' class="control-label">Email</label>
                            <input type="email" name='email' id='email' class="form-control checkField" placeholder="Email">
                            <span class="help-block errMsg" id="emailErr"></span>
                        </div>
                        <div class="form-group-sm col-sm-4">
                            <label for='mobile1' class="control-label">Phone Number</label>
                            <input type="tel" name='mobile1' id='mobile1' class="form-control checkField" placeholder="Phone Number">
                            <span class="help-block errMsg" id="mobile1Err"></span>
                        </div>
                        <div class="form-group-sm col-sm-4">
                            <label for='mobile2' class="control-label">Other Number</label>
                            <input type="tel" name='mobile2' id='mobile2' class="form-control" placeholder="Other Number(optional)">
                            <span class="help-block errMsg" id="mobile2Err"></span>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group-sm col-sm-4">
                            <label for='workday' class="control-label">Work days</label>
                            <input type="text" name='workday' id='workday' class="form-control checkField" placeholder="Work days">
                            <span class="help-block errMsg" id="workdayErr"></span>
                        </div>
						<div class="form-group-sm col-sm-12">
                            <p><b>Work Hours</b></p>
                        </div>
						<div class="form-group-sm col-sm-4">
                            <label for='from' class="control-label">From</label>
                            <input type="time" name='fromtime' id='fromtime' class="form-control checkField" placeholder="Work Days">
                            <span class="help-block errMsg" id="fromtimeErr"></span>
                        </div>
                        <div class="form-group-sm col-sm-4">
                            <label for='to' class="control-label">To</label>
                            <input type="time" name='totime' id='totime' class="form-control checkField" placeholder="Work Days">
                            <span class="help-block errMsg" id="totimeErr"></span>
                        </div>
                        
                    </div>
                    
					<div class="row">
						<div class="form-group-sm col-sm-12">
                            <label for='about' class="control-label">About</label>
                            <input type="text" name='about' id='about' class="form-control checkField" placeholder="about">
                            <span class="help-block errMsg" id="aboutErr"></span>
                        </div>
					</div>
					
                    <div class="row">
                        <div class="form-group-sm col-sm-12">
                            <label for='street' class="control-label">Street</label>
                            <textarea name='street' id='street' class="form-control" placeholder="Street"></textarea>
                            <span class="help-block errMsg" id="streetErr"></span>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group-sm col-sm-4">
                            <label>City:</label>
                            <input type="text" class="form-control" name='city' id="city" placeholder="City">
                            <span class="help-block errMsg" id="cityErr"></span>
                        </div>
                        <div class="form-group-sm col-sm-4">
                            <label>State:</label>
                            <input type="text" class="form-control" name='state' id="state" placeholder="State">
                            <span class="help-block errMsg" id="stateErr"></span>
                        </div>
                        <div class="form-group-sm col-sm-4">
                            <label>Country:</label>
                            <input type="text" class="form-control" name='country' id="country" placeholder="Country" value="Nigeria">
                            <span class="help-block errMsg" id="countryErr"></span>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Logo:</label>
                            <input type="file" name='logo' id='logo' class="form-control">
                        </div>
                    </div>
					
					<div class="row">
                        <div class="col-sm-12">
                            <label>Portfolio:</label>
                            <input type="file" name='portfolio' id='portfolio' class="form-control">
                        </div>
                    </div>
					
					
					<div class="modal-footer">
						<input name="reset" type="reset" value="Clear" class="reset_button" />
						<input type="submit" value="Add Stylist" name="addstylist" />
					</div>
		</form>
	
	</div>
	
		<footer class="container-fluid text-center hidden-print">
            <p>
                <i class="fa fa-copyright"></i>
                Copyright <a href="localhost">Hairluks</a> (2015 - <?= date('Y') ?>)
            </p>
        </footer>
	</body>

	<script>
	$("#mobile1, #mobile2, #mobile1Edit, #mobile2Edit").change(function(){
        $(this).val($(this).val().replace(/\D+/g, ""));
    });
	</script>
</html>