<head>
	<!--//jquery 2.1.3 production-->
	<title>Full Width Responsive Image slider</title>
	
	<meta name="viewport" content="width=device-width, initial-scale">
	
	<!-- CSS -->
        <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../font-awesome/css/font-awesome-animation.min.css">
        <link rel="stylesheet" href="css/homestyle.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/homepage_blog.css">

        <!-- JS -->
	<!--<script type="text/javascript" src="../../js/jquery.min.js"></script>-->
	<script type="text/javascript" src="js/jquery-2.1.4.js"></script>
	
	<script type="text/javascript" src="js/jquery.cycle2.min.js"></script>
	<script src="../../bootstrap/js/bootstrap.min.js"></script>

	<style type="text/css">
		
		
		body {
		font-family: Sans-Serif;}
		
		img{
		max-width: 100%;}
		
		.cycle-slideshow{
		width: 100%;
		height: auto;
		display: block;
		position: relative;
		margin: 0 auto;}
		
		.cycle-prev, .cycle-next{
		font-size: 200%;
		color: #FFF;
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -16px;
		z-index: 9999;
		cusor: pointer;
		}
		
		.cycle-prev{
		left: 10%;}
		
		.cycle-next{
		right: 10%;}
		
		.cycle-pager{
		width: 100%;
		display: block;
		text-align: center;
		position: absolute;
		bottom: 20px;
		z-index: 9999;
		cusor: pointer;
		}
		
		.cycle-pager span{
		text-indent: 100%;
		white-space: nowrap;
		width: 12px;
		height: 12px;
		display: inline-block;
		border: 1px solid #FFF;
		border-radius: 50%;
		margin: 0 10px;}
		
		.cycle-pager .cycle-pager-active{
		background: #FFF;
		}
	
	</style>
	
</head>

<body>
	<div class="cycle-slideshow">
		<span class="cycle-prev">&#9001;</span>
		<span class="cycle-next">&#9002;</span>
		<span class="cycle-pager"></span>
		<img src="images/AcuraRDX1.jpg" alt="Acura RDX 2016">
		<img src="images/AcuraRDX2.jpg" alt="Acura RDX 2016">
		<img src="images/AudiA6L1.jpg" alt="Audi A6L 2016">
		<img src="images/AudiA6L2.jpg" alt="Audi A6L 2016">
	
	</div>
	
	<!--#section-blog-content-->
<section  class="dexp-section" id="section-main-content" style="padding-top:10px">
	<div class="container">
		<div class="row">
			<!-- .region-content-->
<div class="region region-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="tabs"></div>
<div id="block-system-main" class="block block-system">
  <div class="inner"></div>
        
  <div  class="content">
    <div class="view view-blog view-id-blog view-display-id-page_timeline view-dom-id-eb414fc8db9b4de94a1acbb8e5aff3fe">
        
  
  
      <div class="view-content">
      


<ol id="timeline">
      <li class="timeline-item col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <article id="node-32" class="post grid node node-article view-mode-timeline clearfix" about="/orane/content/blog-fullwidth/post-title-1" typeof="sioc:Item foaf:Document">
    <span property="dc:title" content="This is post Title - 1" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
  <div class="blog-item-timeline">
       
  <!-- Begin media blog -->
    <div class="media-blog">
        
    
        <div class="field-item even"><img typeof="foaf:Image" alt="" src="images/AudiA6L1.jpg" width="780" height="338" />        </div>
    
      

      <div class="hover-overlay">
        <div class="inner">
          <a href="content/blog-fullwidth/post-title-1.html">VIEW POST</a>
        </div>
      </div>
    </div> 
  <!-- End media blog -->

  <section class="post-content">
    <a class="title" href="content/blog-fullwidth/post-title-1.html">This is post Title - 1</a>
    
    <div class="meta">
      <i class="fa fa-calendar"></i>
      <span class="date">29 June 2014 </span> | 
      <span class="comment-count"> 
      <i class="fa fa-comments"></i> 0 comments
      </span>
      
    </div>
    <div class="summary">
      <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursus vestibulum varius hendrerit turpis quiseam cursus. Nonec bibendum vestibulum Kravida.</p></div></div></div>    </div>
    <a class="text-readmore">[Read more]</a>
    <div style="clear:both"></div>
  </section>
 </div> 
 </article>     </li>
      <li class="timeline-item col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <article id="node-31" class="post grid node node-article view-mode-timeline clearfix" about="/orane/content/blog/happy-friends-forever" typeof="sioc:Item foaf:Document">
    <span property="dc:title" content="Happy Friends Forever" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
  <div class="blog-item-timeline">
       
  <!-- Begin media blog -->
    <div class="media-blog">
         
          <div id="dexp-carousel" class="carousel slide dexp_carousel field field-name-field-media field-type-media field-label-hidden" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
            <div class="item field-item active"><img typeof="foaf:Image" alt="" src="images/AudiA6L2.jpg" width="780" height="338" /></div>
            <div class="item field-item "><img typeof="foaf:Image" alt="" src="images/AudiA6L3.jpg" width="780" height="338" /></div>
          </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#dexp-carousel" data-slide="prev">
      <span class="fa fa-angle-left"></span>
    </a>
    <a class="right carousel-control" href="#dexp-carousel" data-slide="next">
      <span class="fa fa-angle-right"></span>
    </a>
    </div>
  
      <div class="hover-overlay">
        <div class="inner">
          <a href="content/blog/happy-friends-forever.html">VIEW POST</a>
        </div>
      </div>
    </div> 
  <!-- End media blog -->

  <section class="post-content">
    <a class="title" href="content/blog/happy-friends-forever.html">Happy Friends Forever</a>
    
    <div class="meta">
      <i class="fa fa-calendar"></i>
      <span class="date">29 June 2014 </span> | 
      <span class="comment-count"> 
      <i class="fa fa-comments"></i> 0 comments
      </span>
      
    </div>
    <div class="summary">
      <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursus vestibulum varius hendrerit turpis quiseam cursus. Nonec bibendum vestibulum Kravida.</p></div></div></div>    </div>
    <a class="text-readmore">[Read more]</a>
    <div style="clear:both"></div>
  </section>
 </div> 
 </article>     </li>
      <li class="timeline-item col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <article id="node-18" class="post grid node node-article view-mode-timeline clearfix" about="/orane/content/blog/custom-blog-post-video" typeof="sioc:Item foaf:Document">
    <span property="dc:title" content="Custom blog post with video" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
  <div class="blog-item-timeline">
       
  <!-- Begin media blog -->
    <div class="media-blog">
        
    
        <div class="field-item even"><div class="media-vimeo-video media-vimeo-1">
  <iframe class="media-vimeo-player" width="100%" height="360" title="41286259" src="http://player.vimeo.com/video/41286259?portrait=0&amp;title=0&amp;byline=0&amp;color=" frameborder="0" allowfullscreen>Video of 41286259</iframe>
</div>
        </div>
    
      

      <div class="hover-overlay">
        <div class="inner">
          <a href="content/blog/custom-blog-post-video.html">VIEW POST</a>
        </div>
      </div>
    </div> 
  <!-- End media blog -->

  <section class="post-content">
    <a class="title" href="content/blog/custom-blog-post-video.html">Custom blog post with video</a>
    
    <div class="meta">
      <i class="fa fa-calendar"></i>
      <span class="date">06 May 2014 </span> | 
      <span class="comment-count"> 
      <i class="fa fa-comments"></i> 0 comments
      </span>
      
    </div>
    <div class="summary">
      <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursus vestibulum varius hendrerit turpis quiseam cursus. Nonec bibendum vestibulum Kravida.</p></div></div></div>    </div>
    <a class="text-readmore">[Read more]</a>
    <div style="clear:both"></div>
  </section>
 </div> 
 </article>     </li>
      

  </ol>    </div>
  
  
  
  
  
  
</div>  </div>
</div>
</div>
<!-- END .region-content-->
		</div>
	</div>
</section>
<!--END #section-blog-content-->

	    <!-- Footer -->
            <div id="footer">
                <div class="container">   
                    <div class="row">                                                         
                        <!-- Copyright -->                                                       
                        <div class="col-sm-6 col-md-6 f-copyright">                        
                            <span>&copy; Copyright Design Aura - All Rights Reserved</span>                        
                        </div>                      
                        <div class="col-sm-6 col-md-6">
                            <!-- Social Icons -->                              
                            <ul class="footer-social">
                            <!--<li><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>  -->
                                <li>
                                    <a href="http://www.facebook.com" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>
                                <li><a href="http://www.twitter.com" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                                <li><a href="http://www.skype.com/myskypename" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-skype fa-stack-1x fa-inverse"></i></span></a></li>
                                <li><a href="https://www.pinterest.com/" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-pinterest fa-stack-1x fa-inverse"></i></span></a></li>
                                <li><a href="https://www.instagram.com/" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a></li>
                            </ul>
                        </div>
                    </div><!-- /row -->
                </div><!-- /container -->
            </div>        
            <!-- End Footer -->
			
</body>