<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Advanced Components</title>

    <!--dropzone-->
    <link href="css/dropzone.css" rel="stylesheet">

    <!--common style-->
    <link href="css/style.css" rel="stylesheet">
	
    <!--tagsinput-->
    <link href="css/tagsinput.css" rel="stylesheet">

</head>

<body class="sticky-header">

    <section>
        
        <!-- sidebar left end-->

        <!-- body content start-->
        <div class="body-content" style="min-height: 1000px;">

        <div class="row">
            <div class="col-lg-8">

				<section class="panel">
                        <header class="panel-heading">
                            Our Deals
                        </header>
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                    <label for="dealName">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter Name">
                                </div>
                                <div class="form-group">
                                    <label for="dealDescription">Description</label>
                                    <input type="text" class="form-control" id="description" placeholder="Tell us about your deal">
                                </div>
                                <div class="form-group">
                                    <label>Image: </label>
                                    <input id="dealImage" class="file" type="file">

                                </div>
                            <!--    <div class="col-sm-12">
									<center><img src="" class="img-responsive" id="prevImg"></center>
									<label>Blog Image(max file size; 500kb):</label>
									<input type="file" id='logo' class="form-control">
									<span class='help-block errMsg' id='logoErr'></span>
								</div> -->
                                <button type="submit" id="submitDeal" class="btn btn-info">Submit</button>
                            </form>

                        </div>
                    </section>
				
				<section class="panel">
                    <header class="panel-heading">
                        Style Tags
                        <span class="tools pull-right">
                            <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
                            <a class="t-collapse fa fa-chevron-down" href="javascript:;"></a>
                        </span>

                    </header>
                    <div class="panel-body">

                        <form rote="form">
                            <div class="form-group">
                                <label class="control-label">Styles:</label>
                                <input type="text" id="input_tags" class="tags tags-input" data-type="tags" value=""/>
                            </div>
							<button type='button' id='uploadStyle' class="btn btn-primary">Add Styles</button> 
                        </form>
                    </div>
                </section>
			
                <section class="panel">
                    <header class="panel-heading">
                        Portfolios:
                    <span class="tools pull-right">
                        <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
                        <a class="t-collapse fa fa-chevron-down" href="javascript:;"></a>
                    </span>
                    </header>
                    <div class="panel-body">
                        <form id="my-awesome-dropzone" action="Stylist.php" class="dropzone">
						<!--	<button type='button' id='uploadImage' class="btn btn-primary">Uplaod All</button>  -->
						</form>
                    </div>
                </section>
			
				</div>
            </div>
        </div>
        <!-- body content end-->
    </section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>

<script src="js/bootstrap.min.js"></script>

<!--Nice Scroll--affects refresh and collapse as well as scroll -->
<script src="js/jquery.nicescroll.js" type="text/javascript"></script>

<!--right slidebar--affects refresh and collapse as well as scroll-->
<script src="js/slidebars.min.js"></script>

<!--tags input-->
<script src="js/tags-input.js"></script>

<!--tags input init-->
<script src="js/tags-input-init.js"></script>

<!--dropzone-- affects dropzone-->
<script src="js/dropzone.js"></script>

<!--common scripts for all pages--affects refresh and collapse as well as scroll-->
<script src="js/scripts.js"></script>

<script>
	$("#uploadStyle").click(function(e){    
        e.preventDefault();
        
		var tags = document.getElementById('input_tags').value;
	//	alert(tags);
        //set info to send to server
        var formInfo = new FormData();

		formInfo.append("input_tag", tags);
	//	alert(formInfo);	
			
        //make ajax request if all is well
        $.ajax({
            method: "POST",
            url: "Stylist.php",
            data: formInfo,
            cache: false,
            processData: false,
            contentType: false
        }).done(function(returnedData){
                $("#fMsgIcon").removeClass();//remove spinner
                
                if(returnedData.status === 1){
                    $("#fMsg").css('color', 'green').html("Account created");       
                }
                
                else{
                    //display error message returned
                    $("#fMsg").css('color', 'red').html(returnedData.msg);

                    $("#logoErr").html(returnedData.logo);
                }
            }).fail(function(){
                if(!navigator.onLine){
                    $("#fMsg").css('color', 'red').text("Network error! Pls check your network connection");
                }
                
                else{
                    $("#fMsg").css('color', 'red').text("Unable to process your reuest at this time");
                }
            });
    });
	

	
</script>


</body>

</html>
