<html>

	<head>
		<title>
			Hairluks test page
		</title>
		<!-- CSS -->
        <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../font-awesome/css/font-awesome-animation.min.css">
        <link rel="stylesheet" href="../../css/main.css">

        <!-- JS -->
        <script src="../../js/jquery.min.js"></script>
        <script src="../../bootstrap/js/bootstrap.min.js"></script>
        <script src="../../js/main.js"></script>
		<script src="../../js/testStyl.js"></script>
		<script src="../../js/verify.notify.min.js"></script>
	
	</head>

	<body>
		<form method="post" enctype="multipart/form-data">
		 <input type="text" id="title" placeholder="Project Title"/><br />
		 <input type="text" id="vurl" placeholder="If You have any video about project write your video url path here" style="width:435px;"/><br />
		<textarea id="prjdesc" name="prjdesc" rows="20" cols="80" style="border-style:groove;box-shadow: 10px 10px 10px 10px #888888;"placeholder="Please describe Your Project"></textarea>

		<label for="file">Filename:</label>
		<input type="file" name="file" id="file" /><br>
		<input type="button" name="submit" value="Submit" id="update"/>
		</form>
		
		<textarea id="string" style="display:none;">aa</textarea>
	</body>

</html>